<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>电影录入</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../../public/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../../public/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row layui-col-space10">
	<div class="layui-col-md12 layui-col-xs12">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md9 layui-col-xs7">
				<div class="layui-form-item magt3">
					<label class="layui-form-label">电影名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input moviename" name="moviename"  placeholder="请输入电影名称">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">上映时间</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input releasetime"  name="releasetime" placeholder="请选择上映时间">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">导演</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input director" name="director" placeholder="请输入导演">
					</div>
				</div>
			</div>
			<div class="layui-col-md3 layui-col-xs5">
				<div class="layui-upload-list thumbBox mag0 magt3">
					<img class="layui-upload-img thumbImg" src="">
				</div>

				<div class="layui-progress" lay-showPercent="yes" lay-filter="demo"i >
					<div  id="progress" class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
				</div>
			</div>
		</div>

		<div class="layui-form-item magb0">
			<label class="layui-form-label">演员</label>
			<div class="layui-input-block">
				<input type="text" name="leadactors" class="layui-input leadactors" lay-verify="newsName" placeholder="请输入演员">
			</div>
		</div>

		<div class="layui-form-item magb0">
			<label class="layui-form-label">电影简介</label>
			<div class="layui-input-block">
				<textarea  style="height: 350px" class="layui-textarea description" placeholder="请输入电影简介"></textarea>
			</div>
		</div>
		<button  type="submit" lay-submit lay-filter="addmovies"  class="layui-btn layui-btn-fluid">提交</button>
	</div>
</form>
<script type="text/javascript" src="../../../public/layui/layui.js"></script>
<script type="text/javascript" src="newsAdd.js"></script>
</body>
</html>